$width:917px;
$padding:10px 130px;
$background-color: rgb(236, 236, 236);
.wrapper{
    width: $width;
    font-family: sans-serif;
    padding: $padding;
    background-color: $background-color;
    margin: 0 auto;
}
$display: flex;
.navbar{
    display: $display;
}
$font-size:25px;
.maqolalar{
    font-size: $font-size;
    font-weight: 600;
    opacity: 0.7;
}
$cursor:pointer;
.body > div:hover{
    transform: scale(1.1);
    cursor: $cursor;
}
$border-radius:5px;
$margin-right:10px;
.btns > button{
    border-radius: $border-radius;
    padding: 5px 7px;
    border-color: lightgray;
    margin-right: $margin-right;
}
.btns > button:hover{
    background-color: red;
    color:white;
    cursor: pointer;
}
$margin-left:370px;
.btns .barchasi{
    margin-left: $margin-left;
}
.body{
    display: flex;
}
$margin-top:20px;
.div{
    margin-right: 20px;
    margin-top: $margin-top;
    background-color: white;
}
$padding-left:25px;
.div > p{
    padding-left: $padding-left;
}
$height:27px;
.yuklash{
    border-radius: 5px;
    height: $height;
    margin-top: 40px;
    margin-left: 380px;
    width: 170px;
}
.yuklash:hover{
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}